/*
:target
em / rem -> HW1: read about it 
   EM is an element relative to the font size of its parent.
   REM is based upon the font-size value of the root element, which is the <html> element.

variables
calc()
*/

body{
    /* variables */
    --light-color: rgb(42, 158, 112);
    --dark-color: #333;
    --text-color: #333;

    font-size: 2em;
}

body{

    background-color: var(--dark-color);
}

#bottom-menu{
   /* border: 1px solid red;*/
    position: fixed;
    bottom: 2em;
    right: 2em;

    overflow: hidden;
}

#bottom-menu a {
    background-color: var(--light-color);
    display: block;
    padding: 0.5em;
    margin: 0.2em;
   /* margin-bottom: 0.2em;*/
    border-radius: 100%;
   box-shadow: inset 0 -1em 1em var(--light-color), 0 0 0 2px rgb(173, 247, 212),
    0.3em 0.3em 1em #333;

    color: var(--text-color);
    /*
    HW2: center text verically/horizontaly
    Hw3: slow - effect
    */
    text-align: center;
    /*vertical-align: middle;*/

    transform: translateY( 
        calc(3 * (2* 0.5em + 0.2em + 1em))
        );
    transition: 0.75s;

}

#bottom-menu:target a{
    transform: translateY(-0.125em);
}



#bottom-menu li:last-child a{
    margin-bottom: 0;
}

    /* animation */

.circle-animation {
    width: 2em;
    height: 2em;
    position: fixed;
    bottom: 2em ;
    right: 2em;

    padding: 0.2em;
    margin: 0.2em 0.2em 0.145em 0.2em;
    z-index: -1;
}



.circle-animation .circle {
    width: inherit;
    height: inherit;
    border: 0.2em solid rgb(173, 247, 212);
    position: absolute;
    border-radius: 100%;
    

    animation: wave 10s infinite;
}

.circle-animation .circle:nth-child(2){
    animation-delay: 3.3s;
}

.circle-animation .circle:nth-child(3){
    animation-delay: 6.6s;
}

@keyframes wave {
 
    0%{ transform: scale(1); opacity: 0.3; }
    50%{ transform: scale(1); opacity: 0.3; }
    100%{ transform: scale(2); opacity: 0; }

}
