body{
    font-family: 'Poppins', sans-serif;
}

#pricing{
    margin: 80px 0;
}

.head{
    text-align: center;
    margin-bottom: 40px;
}

.head > h2 {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 10px;
    color: #444;
}

.head > p {
    font-size: 16px;
    margin-bottom: 15px;
    color: #777;
}

.row-pr-col{
    display: flex;
    /*flex-wrap: wrap;*/
    /*box-sizing: border-box;*/
    /*align-items: center;*/
    line-height: 23px;
    margin: 0 20%;
    font-weight: 400;

}

.colum{
    border: solid 1px rgb(207, 203, 203);
    margin: 0 15px;
    padding: 35px;
    
}

.colum-head {
    display: block;
    padding-top: 20px;
    padding-bottom: 30px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 40px;
    font-weight: 700;
    color: #444;
}

.colum-head>p{
    font-weight: 100;
    font-size: small;  
}

.colum-head>h3{
    font-weight: 800;
    font-size:larger;
    margin-bottom: 10px;
}

.price-footer{
    padding-top: 40px;
    padding-bottom: 20px;
}

.app-btn{
    text-decoration: none;
    color: white;
    background-color: rgb(0, 91, 234);
    padding: 15px 20px;
    border-radius: 25px;
    font-size: 13px;
    
}

/*#pricing>.row-pr-col>.colum >ul li::before{
    content: ✔;
    color: green;
}*/

.check{
    color: rgb(11, 247, 11);
}

.neg-check{
    color: red;
}
